{% extends 'main_page.html' %}

{% block content %}

{% load static %}

<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">


<section style="background-color: #eee;">
  <div class="container py-5">

    {% if message %}
    <div class="alert alert-warning" role="alert">
      {{ message }}
    </div>
    {% endif %}

    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
              class="rounded-circle img-fluid" style="width: 150px;">
            <h5 class="my-3">{{ user.username }}</h5>
          </div>
        </div>
        <!-- left bottom -->
        <div class="card mb-4 mb-lg-0">
          <div class="card-body p-0">
            <ul class="list-group list-group-flush rounded-3">
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                <!-- latter change to other icons -->
                <!-- <i class="fas fa-globe fa-lg text-warning"></i> -->
                <a class="mb-0 stretched-link" href="{% url 'search_packages' %}">Track a package</a>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                <!-- <i class="fab fa-github fa-lg" style="color: #333333;"></i> -->
                <a class="mb-0" href="{% url 'user_packages' %}">My packages</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <p class="mb-4 h5"> <strong>Personal Infomation</strong></p>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Uer Name</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ user.username }}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ user.email }}</p>
              </div>
            </div>
            <hr>



          </div>
        </div>



      </div>
    </div>
  </div>

  </div>
  </div>
  </div>
  </div>
</section>

{% endblock %}