{% extends 'main_page.html' %}

{% block content %}

{% load static %}
<link href="{% static 'css/progress_bar.css' %}" rel="stylesheet">


<div class="container">
    <div class="row">
        <div class="col-lg-12 mx-auto mb-4">
            <div class="section-title text-center mb-4"><img class="d-block mx-auto"
                    src="https://i.ibb.co/bNdG1pg/favpng-carpool-carsharing-real-time-ridesharing-transport.png" alt=""
                    width="170" height="150">
                <h2>Track a package</h2>
                <p class="lead mb-4">You can input the package id to track package.</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-18 mx-auto">
            <div class="career-search mb-60">

                <form method="post" action="/search_package_id/" class="career-form2 mb-60 needs-validation" novalidate>
                    {% csrf_token %}

                    <!-- change -->

                    <div class="row">

                        <div class="row">
                            <div class="col-md-8 offset-md-2 my-3">
                                <div
                                    class="input-group position-relative has-validation text-center d-flex align-items-center">
                                    <label for="packageid" class="form-label mb-0 me-2">Package ID</label>
                                    <input type="text" class="form-control" id="packageid" name="packageid"
                                        style="width: 100%;" required>
                                    <div class="invalid-feedback">
                                        Your package id is required.
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 my-3">
                                <button type="submit" class="w-100 btn btn-lg btn-block btn-light btn-custom">
                                    Search
                                </button>
                            </div>
                        </div>

                    </div>
                </form>

                <div class="filter-result">

                    {% for record in records %}
                    <div class="job-box d-md-flex align-items-center justify-content-between mb-30">
                        <div class="job-left my-4 d-md-flex align-items-center flex-wrap">
                            <div class="img-holder mr-md-4 mb-md-0 mb-4 mx-auto mx-md-0 d-md-none d-lg-flex">
                                {{ record.package_id }}
                            </div>
                            <div class="job-content">
                                <ul class="d-md-flex flex-wrap ff-open-sans">
                                    <li class="mr-md-8" style="margin-right: 3em;">
                                        <i class="zmdi zmdi-time mr-2"></i> <span class="record-text">
                                            truck_id: {{record.truck_id}}</span>
                                    </li>
                                    <li class="mr-md-8" style="margin-right: 3em;">
                                        <i class="zmdi zmdi-alert-circle-o mr-2"></i> <span class="record-text">
                                            status: {{record.status}}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="job-right my-4 flex-shrink-0">
                            <a href="{% url 'package_info' %}?package_id={{ record.package_id }}"
                                class="btn d-block w-100 d-sm-inline-block btn-light">More Info</a>
                        </div>
                    </div>
                    {% endfor %}

                </div>

                <!-- <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="progress">
                                <div class="progress-bar bg-secondary" style="width: 25%"></div> 
                                <div class="progress-bar bg-primary" style="width: 25%"></div> 
                                <div class="progress-bar bg-light" style="width: 25%"></div> 
                                <div class="progress-bar bg-light" style="width: 25%"></div> 
                            </div>
                            <div class="row justify-content-between">
                                <div class="col-md-2">
                                    <div class="text-center">
                                        <i class="fas fa-file-alt fa-2x"></i>
                                        <p>简历投递</p>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="text-center">
                                        <i class="fas fa-check fa-2x"></i>
                                        <p>简历评估</p>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="text-center">
                                        <i class="fas fa-user fa-2x"></i>
                                        <p>面试</p>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="text-center">
                                        <i class="fas fa-file-signature fa-2x"></i>
                                        <p>Offer</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>

    </div>
    {% endblock %}