<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL95Dialect</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/ups</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">passw0rd</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>


        <mapping class="org.example.domain.ABookTruckD"/>
        <mapping class="org.example.domain.ACKsD"/>
        <mapping class="org.example.domain.AStartDeliverD"/>
        <mapping class="org.example.domain.PackageD"/>
        <mapping class="org.example.domain.TruckD"/>
        <mapping class="org.example.domain.UDeliveryLocationD"/>
        <mapping class="org.example.domain.UGoDeliverD"/>
        <mapping class="org.example.domain.UGoPickupD"/>
        <mapping class="org.example.domain.UQueryD"/>

    </session-factory>
</hibernate-configuration>
